{% extends 'global/frontend.html' %}
{% load static %}

{% block titulo %}Automatizando Rotinas{% endblock titulo %}

{% block conteudo %}
<!-- Topo Cinza Escuro -->
<div class="grid grid-cols-5 p-6 min-h-screen items-center bg-gray-700">

  <div></div><!-- Div Da Esquerda Vazia -->

  <!-- Div Central Onde Vai Todo o Centeúdo -->
  <div class="col-span-5 text-white lg:col-span-3 text-center content-center space-y-4">

    <div class="text-3xl font-bold">
      ROBOZINHOS.COM.BR
    </div>
    <div class="text-3xl font-bold">
      Entenda Mais No Vídeo Abaixo
    </div>
    <div class="lg:mx-32">
      <div class="aspect-w-16 aspect-h-9">
        <iframe src="https://www.youtube.com/embed/bkK_DB6Q8b8" title="Como Fazer 50 Vídeos Para Canal Dark, TikTok, Kwai - [ Feito Com Robô Vídeo Maker ]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="text-2xl font-bold">
      Links dos robôs e dos grupos no WhatsApp
    </div>
    <div class="flex">
      <a class="flex flex-col lg:flex-row justify-center p-8 mb-2 lg:mr-4 text-xl uppercase border-solid border-2 border-blue-500 hover:bg-blue-100 text-white hover:text-black rounded" href="{% url 'clientes:robo_video_maker' %}">
        Robô Vídeo Maker
      </a>
      <a class="flex flex-col lg:flex-row justify-center p-8 mb-2 text-xl uppercase border-solid border-2 border-purple-700 hover:bg-purple-100 text-white hover:text-black rounded" href="{% url 'clientes:download_turbo_list' %}">
        Download Turbo List
      </a>
      <a class="flex flex-col lg:flex-row justify-center p-8 mb-2 lg:ml-4 text-xl uppercase border-solid border-2 border-green-600 hover:bg-green-100 text-white hover:text-black rounded" href="https://viazapi.com.br">
        ViaZapi Respostas Automáticas Para WhatsApp
      </a>
    </div>
    <div class="flex justify-between">
      <a class="flex flex-col lg:flex-row justify-center p-8 mb-2 lg:mr-2 text-xl uppercase bg-green-600 hover:bg-green-100 text-white hover:text-black rounded" href="https://viazapi.com.br/grupo/robozinhosgrupo">
        Grupo Com Aulas Sobre Robôs E Automação
      </a>
      <a class="flex flex-col lg:flex-row justify-center p-8 mb-2 lg:ml-2 text-xl uppercase bg-green-600 hover:bg-green-100 text-white hover:text-black rounded" href="https://viazapi.com.br/grupo/robozinhosgrupo">
        Grupo Com Aulas Sobre Vendas No WhatsApp
      </a>
    </div>

  </div><!-- Fim Div Central -->

  <div></div><!-- Div Da Direita Vazia -->

</div><!-- Fim Do Topo Cinza Escuro -->



{% endblock conteudo %}