{% extends 'global/frontend.html' %}

{% block titulo %}Login{% endblock titulo %}

{% block conteudo %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="px-8 py-6 mx-4 mt-4 text-left bg-white shadow-lg md:w-1/3 lg:w-1/3 sm:w-1/3">
        {% comment %} <div class="flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 text-blue-600" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path d="M12 14l9-5-9-5-9 5 9 5z" />
                <path
                    d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
            </svg>
        </div> {% endcomment %}
        <h1 class="text-4xl font-bold text-center text-green-500">ViaZapi</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="{{message.tags}} mt-4 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline">{{message}}</span>
                </div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'clientes:login_criar' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
               <div class="mt-4">
                    <label class="block" for="{{field.id_for_label}}">{{field.label}}<label>
                    {{field}}
                    {% if field.help_text %}
                        <p class="text-sm text-gray-400">{{field.help_text}}</p>
                    {% endif %}
                    {% if field.errors %}
                        <span class="text-xs text-red-500">{{field.errors}}</span>
                    {% endif %}
                </div>
            {% endfor %}
                
                <div class="flex">
                    <button type="submit" class="w-full px-6 py-4 mt-4 text-white bg-green-500 rounded-lg hover:bg-green-300">Logar</button>
                </div>
                <div class="mt-6 text-grey-dark">
                    Você já possui uma conta?
                    <a class="text-blue-600 hover:underline" href="{% url 'clientes:cadastro' %}">
                        Realizar Cadastro
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock conteudo %}