{% extends 'global/frontend.html' %}

{% block titulo %}Cadastro{% endblock titulo %}

{% block conteudo %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="px-8 py-6 mx-4 mt-4 text-left bg-white shadow-lg md:w-1/3 lg:w-1/3 sm:w-1/3">
        <h3 class="text-4xl font-bold text-center text-green-500">ViaZapi</h3>
        {% if messages %}
            {% for message in messages %}
                <div class="{{message.tags}} mt-4 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline">{{message}}</span>
                </div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'clientes:password_reset' %}" method="post">
            {% csrf_token %}
            {% for field in password_reset_form %}
               <div class="mt-4">
                    <label class="flex flex-col" for="{{field.id_for_label}}">{{field.label}}</label>
                    <input type="{{field.field.widget.input_type}}" class="w-full" name="{{field.html_name}}" required id="{{field.id_for_label}}">
                    
                    {% if field.help_text %}
                        <div class="text-sm text-gray-400">{{field.help_text}}</div>
                    {% endif %}
                    {% if field.errors %}
                        <span class="text-xs text-red-500">{{field.errors}}</span>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="flex">
                <button type="submit" class="w-full px-6 py-4 mt-4 text-white bg-green-500 rounded-lg hover:bg-green-300">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock conteudo %}